*, *::after, *::before {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.25rem;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  
  header img {
    padding: 20px 0 20px 20px;
    height: 120px;
    width: auto;
  }
  
  
  body {
    color: #ffffff;
    background-url: url("backvideo.mp4");
    background-size:cover;
  }
  
  .flip-card {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
    border-radius: .1em;
  }
  
  .top,
  .bottom,
  .flip-card .top-flip,
  .flip-card .bottom-flip {
    height: .75em;
    line-height: 1;
    padding: .25em;
    overflow: hidden;
  }
  
  .top,
  .flip-card .top-flip {
    background-color: #FFCC2A;
    border-top-right-radius: .1em;
    border-top-left-radius: .1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .bottom,
  .flip-card .bottom-flip {
    background-color: #FFCC2A;
    display: flex;
    align-items: flex-end;
    border-bottom-right-radius: .1em;
    border-bottom-left-radius: .1em;
  }
  
  .flip-card .top-flip {
    position: absolute;
    width: 100%;
    animation: flip-top 250ms ease-in;
    transform-origin: bottom;
  }
  
  @keyframes flip-top {
    100% {
      transform: rotateX(90deg);
    }
  }
  
  .flip-card .bottom-flip {
    position: absolute;
    bottom: 0;
    width: 100%;
    animation: flip-bottom 250ms ease-out 250ms;
    transform-origin: top;
    transform: rotateX(90deg);
  }
  
  @keyframes flip-bottom {
    100% {
      transform: rotateX(0deg);
    }
  }
  
  .container {
    backdrop-filter: opacity(85%);
    display: flex;
    gap: .5em;
    justify-content: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    font-weight: 600;
    font-size: 132px;
    color: white;
    cursor: none;
  }
  
  .container-segment {
    display: flex;
    flex-direction: column;
    color: #1E4276;
    gap: .1em;
    align-items: center;
  }
  
  .segment {
    display: flex;
    gap: .1em;
  }
  
  .segment-title {
    font-size: 1rem;
    color: white;
  }

  .timeline {
    position: fixed;
    bottom: 10%;
    height: 100px;
    background-color: white;
    margin: 50px auto;
    overflow: hidden;
    backdrop-filter: opacity(85%);
    display: flex;
    gap: .5em;
    justify-content: center;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    font-weight: 600;
    font-size: 132px;
    color: #1E4276;
    cursor: none;
  }
  
  .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, blue 0%, blue 50%, white 50%, white 100%);
    background-size: 200% 100%;
    transition: background-position 0.5s ease-out;
  }
  
  .handle {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
