.countdown {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-weight: 600;
    font-size: 132px;
    color: #FFCC2A;
    font-family: Google Sans, arial, sans-serif;
    cursor: none;
    /* background-image: url("./1.jpg");*/
    /* background-color: black; */
}

/* 
#1E4276
#FFCC2A
*/

.countdown-num {
    display: inline-block;
    font-weight: 500;
}

.countdown-label {
    display: inline-block;
    font-size: 100px;
    padding-right: 10px;
}